
  <%- include('header') -%>
    <body>
        <h3> Also, the header can be taken to another partial template as it is common</h3>
        <p> %tag with = & -</p>
        <%= content %> </br>
        <%- content %>
  <%- include('footer') -%>